:root { /*light mode colors*/--bg-primary: #F4F7FD;--bg-secondary: #ffffff;--text-primary: #000112;--text-secondary: #828FA3;--task-status: rgba(0, 0, 0, 0.5);--bg-button-secondary: rgba(99, 95, 199, 0.1);--placeholder: rgba(0, 0, 0, 0.25); /*other colors*/--bg-button-primary: #635FC7;--red: #EA5555;--red-hover: #FF9898;--todo: #49C4E5;--doing: #8471F2;--done: #67E2AE;--gray: #828FA3;--font: "Plus Jakarta Sans";--transition: 0.7s cubic-bezier(0.79, -0.03, 0, 0.95)}
.dark {--bg-primary: #20212C;--bg-secondary: #2B2C37;--text-primary: #ffffff;--text-secondary: #fff;--task-status: rgba(255, 255, 255, 0.5);--bg-button-primary: #635FC7;--bg-button-secondary: #fff;--placeholder: rgba(255, 255, 255, 0.25);}

html {font-size: 62.5%;}
body {font-family: var(--font), sans-serif;background-color: var(--bg-primary);}

.heading-xl {font-size: clamp(1.8rem, 5vw, 2.4rem);line-height: 30px;font-weight: 600;}
.heading-l {font-size: clamp(1.4rem, 5vw, 1.8rem);line-height: 23px;font-weight: 600;}
.heading-m {font-size: clamp(1.2rem, 5vw, 1.5rem);line-height: 19px;font-weight: 600;}
.heading-s {font-size: clamp(1rem, 5vw, 1.2rem);line-height: 15px;font-weight: 600;}

.body-l {font-size: clamp(1.1rem, 5vw, 1.3rem);line-height: 23px;font-weight: 400;}
.body-m {font-size: clamp(1rem, 5vw, 1.2rem);line-height: 15px;font-weight: 600;}

.app {background: var(--bg-primary);max-width: 1440px;margin: 0 auto;}

@media screen and (min-width: 1170px){
  .app.sidebar-opened {max-width: 1440px;overflow: hidden;margin: 0 auto;position: relative;}
}


.sidebar {width: 20vw;max-width: 300px;height: 100vh;background: var(--bg-secondary);position: absolute;top: 0;left:0;bottom: 0;padding: 32px 0;display: flex;flex-direction: column;transition: var(--transition)}
.app:not(.sidebar-opened) .sidebar{left: -20%;}
.sidebar .sidebar-title {font-size: 1.2rem;text-transform: uppercase;color: var(--gray);font-weight: 600;letter-spacing: 2px;display: block;margin-bottom: 19px;}
.sidebar .logo {margin-bottom: 54px;}
.dark .sidebar .logo {position: relative;}
.dark .sidebar .logo:before {content: "";background-image: url(/src/assets/images/logo-light.svg);position: absolute;inset: 0;background-repeat: no-repeat;left: 34px;}

.sidebar .board-item {display: flex;align-items: center;gap: 16px;padding: 14px 32px;width: 90%;font-size: 1.5rem;font-weight: 600;color: var(--gray);cursor: pointer;}
.sidebar .active.board-item {background: var(--bg-button-primary);color: white;border-radius: 0 20px 20px 0;}
.board-item.colored {color: var(--bg-button-primary);}
.sidebar .active.board-item img {filter: brightness(2);}
.sidebar .sidebar-inner .logo, .sidebar .sidebar-inner .sidebar-title {padding-inline-start: 34px;}
.sidebar .theme-wrapper {margin-top: auto;}
.sidebar .theme-wrapper {margin-inline: 34px;display: flex;align-items: center;justify-content: center;gap: 24px;background: var(--bg-primary);padding: 14px;border-radius: 6px;}
.sidebar .hide-sidebar {display: flex;align-items: center;gap: 15px;margin: 20px 0 0 34px;font-size: 1.5rem;color: var(--gray);font-weight: 600;}
.sidebar .switch-theme {width: 40px;height: 20px;background: var(--bg-button-primary);border-radius: 20px;position: relative;cursor: pointer;}
.sidebar .switch-theme:after {content: "";position: absolute;background: white;border-radius: 50%;width: 14px;height: 14px;top: 3px;left: 3px;transition: 0.2s;}
.sidebar .switch-theme.dark:after {left: calc(100% - 14px - 3px);}
.show-sidebar {position: fixed;bottom: 32px;left: 0;width: 56px;height: 48px;background: var(--bg-button-primary);display: flex;align-items: center;justify-content: center;border-radius: 0 30px 30px 0;transition: 0.3s}
.show-sidebar:hover {opacity: 0.8;}
.app.sidebar-opened .show-sidebar {display: none;}
/*.app.sidebar-opened .header-side {max-width: calc(100% - 300px);margin-left: auto;}*/
.app.sidebar-opened .header-side .board-name {transform: translateX(70px);}



.main {display: flex;min-height: calc(100vh - 94px);transition:1s ease-out;padding: 24px;}
.app.sidebar-opened .main {transform: translateX(300px);transition: 1s ease-out;}
.empty-state {text-align: center;}
.empty-state > p {color: var(--gray);margin-bottom: 20px;}

@media (min-width: 1441px) {
  .app.sidebar-opened .main {width: calc(80vw - 180px);}
}



.columns-wrapper {display: flex;gap: 24px;overflow-x: auto; width: 100%}
.columns-wrapper .column {flex: 0 0 280px;}
.columns-wrapper .column-title {font-size: 1.2rem;text-transform: uppercase;letter-spacing: 2px;color: var(--placeholder);display: flex;align-items: center;gap: 12px;margin-bottom: 24px;}
.columns-wrapper .column-title:before {content: "";display: inline-block;width: 15px;aspect-ratio: 1;background: var(--todo);border-radius: 50%;}
.columns-wrapper .column:nth-of-type(2) .column-title:before {background: var(--doing);}
.columns-wrapper .column:nth-of-type(3) .column-title:before {background: var(--done);}
.columns-wrapper .column > * +* {margin-top: 24px;}
.columns-wrapper .task-item {background: var(--bg-secondary);padding: 24px 16px;border-radius: 6px;box-shadow: 0 4px 6px 0 rgba(54, 78, 126, 10.15%);cursor: grab}
.columns-wrapper .task-title {color: var(--text-primary);font-size: 1.5rem;margin-bottom: 8px;line-height: 1.2;}
.columns-wrapper .subtasks-status {font-size: 1.2rem;color: var(--gray);font-weight: 600;}
.add-column {background: var(--bg-button-secondary);padding: 10px;border-radius: 4px;font-weight: 600;color: var(--gray);font-size: 2rem;}

/*modal code*/
.modal-content .input-wrapper > input {padding: 10px;border: 1px solid var(--placeholder);outline: unset;border-radius: 4px;line-height: 1.4;width: 100%;margin-top: 8px;background-color: transparent;color: var(--text-primary);}
.modal-content > * + * {margin-top: 20px;}
.modal-content .input-wrapper > textarea {min-height: 80px;width: 100%;font-family: inherit;padding: 10px;border: 1px solid var(--placeholder);margin-top: 8px;outline: unset;border-radius: 4px;background: transparent;color: var(--text-primary);}
.modal-content .input-wrapper .input-title {color: var(--gray);font-weight: 600;}
.modal-content .subtasks-wrapper > p {color: var(--gray);}
.modal-content .subtasks-wrapper .input-wrapper-row {margin-top: 8px;display: flex;align-items: center;gap: 16px;}
.modal-content .subtasks-wrapper .input-wrapper-row input {flex: 1;padding: 10px;border: 1px solid var(--placeholder);border-radius: 4px;color: var(--text-primary);}
.modal-content .button.secondary > span {color: var(--bg-button-primary);justify-content: center;}
.modal-content .button {width: 100%;}




.modal-delete .ant-modal-title {color: var(--red);}
.modal-delete .ant-modal-body > p {color: var(--gray);font-weight: 500;}
.modal-delete .ant-btn-primary {background: var(--red);}
.modal-delete .ant-modal-footer {display: flex;justify-content: center;flex-direction: row-reverse;gap: 20px;margin-top: 30px !important;}
.modal-delete .ant-modal-footer > * {flex: 1;border-radius: 20px;margin: 0 !important;height: 40px;}
.modal-delete .ant-btn-default {background: var(--bg-button-secondary);border: unset;color: var(--bg-button-primary);font-weight: 500;}
.modal-delete .ant-modal-header {
  background: transparent !important;
}

.ant-modal-content {background: var(--bg-secondary) !important;}
.ant-modal-content .modal-content {background: var(--bg-secondary);padding: 20px;border-radius: 8px;width: 480px;}
.ant-modal-content .modal-header {display: flex;justify-content: space-between;align-items: center;position: relative}
.ant-modal-content .modal-header > h3 {max-width: 387px;color: var(--text-primary);}
.ant-modal-content .modal-description {color: var(--gray);margin-block: 24px;}
.ant-modal-content .subtasks-title {color: var(--gray);font-weight: 600;margin-bottom: 16px;}
.ant-modal-content .subtasks-list {margin-bottom: 24px;}
.ant-modal-content .subtasks-list > .subtasks-item {display: flex;align-items: center;gap: 16px;background-color: var(--bg-primary);padding: 12px;border-radius: 4px;cursor: pointer;color: var(--text-primary)}
.ant-modal-content .subtasks-item > input {width: 16px;height: 16px;margin: unset;cursor: pointer;accent-color: var(--bg-button-primary);z-index: 1;}
.ant-modal-content .subtasks-list > * + * {margin-top: 10px;}
.ant-modal-content .subtasks-list > .subtasks-item.completed {text-decoration: line-through;color: var(--gray);}
.ant-modal-content .select-title {color: var(--gray);margin-bottom: 8px;font-weight: 600}
.dropdown-icon {
  padding: 8px;
  cursor: pointer;
}

.subtasks-wrapper .button {
  margin-top: 20px;
}

.subtasks-wrapper input {
  background: transparent;
}

.ant-select.ant-select-outlined.current-status.css-dev-only-do-not-override-f7vrd6.ant-select-single.ant-select-show-arrow {
}

.ant-select-selector {
  background: transparent !important;
}

.ant-select-dropdown * {
  background: var(--bg-primary) !important;
  color:var(--text-primary);
}


span.ant-select-selection-item {
  color: var(--text-primary);
}

.mobile-dropdown {display: none}



@media(min-width:768px){
  .mobile-dropdown-trigger{display:none;}
  .dark .logo img {opacity: 0;}
}

@media (max-width: 767px) {
  aside.sidebar {
    display: none;
  }

  .app.sidebar-opened .main {
    transform: unset;
    width: auto;
  }

  .header .logo {
    padding: 16px;
    border: unset;
  }

  .header {
    align-items: center;
    z-index: 1;
    position: relative;
  }

  .header-side {
    padding: 16px;
    justify-content: flex-end;
  }

  .header-side .board-name {
    display: none;
  }

  .button .button-text {
    display: none;
  }

  .header .buttons-wrapper {
    gap: 16px;
  }
  .ant-modal-content .modal-content {
    width: auto;
  }

  .mobile-dropdown {
    display: block;
    position: absolute;
    top: 80px;
    left: 50%;
    padding: 16px 24px 16px 0;
    background: var(--bg-secondary);
    border-radius: 8px;
    width: 70vw;
    z-index: 1;
    transform: translateX(-50%) scale(0);
    transition: 0.6s;
  }

  .app.mobile-dropdown-opened .mobile-dropdown-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 0;

  }


  .mobile-dropdown-trigger {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mobile-dropdown-trigger > img {
  }

  .app.mobile-dropdown-opened  .mobile-dropdown-wrapper   .mobile-dropdown{transform: translateX(-50%) scale(1);}

  .app.mobile-dropdown-opened .mobile-dropdown-wrapper:after {
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  .mobile-dropdown > p{
    color: var(--gray);
    font-weight: 700;
    padding-inline-start: 24px;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }

  .boards-list {
    font-size: 1.6rem;
  }

  .boards-list .board-item{
    display: flex;
    gap: 10px;
    padding: 14px 24px;
    color: var(--gray);
    font-weight: 500;
  }

  .boards-list .board-item.active {
    background: var(--bg-button-primary);
    border-radius: 0 20px 20px 0;
    color: white;
  }

  .boards-list .board-item:last-child {
    color: var(--bg-button-primary);
  }

  .active.board-item img {filter: brightness(2);}

  .theme-wrapper {margin: 16px 22px 0;display: flex;align-items: center;justify-content: center;gap: 24px;background: var(--bg-primary);padding: 14px;border-radius: 6px;}
  .hide-sidebar {display: flex;align-items: center;gap: 15px;margin: 20px 0 0 34px;font-size: 1.5rem;color: var(--gray);font-weight: 600;}
  .switch-theme {width: 40px;height: 20px;background: var(--bg-button-primary);border-radius: 20px;position: relative;cursor: pointer;}
  .switch-theme:after {content: "";position: absolute;background: white;border-radius: 50%;width: 14px;height: 14px;top: 3px;left: 3px;transition: 0.2s;}
  .switch-theme.dark:after {left: calc(100% - 14px - 3px);}

}




